<template>
  <div class="home">
    <Header :porcentaje="porcentaje" />
    <v-form ref="form" v-model="validForm">
      <v-container>
        <v-card class="mx-auto mt-5 pl-2 pr-2" tile>
          <v-list-item
            class="seccion"
            v-for="(item, i) in preguntasRespuestas"
            :key="i"
            :id="item.id"
          >
            <v-list-item-content class="pl-4 pr-4">
              <div v-if="item.tipoPregunta == 'select'" class="mb-8">
                <v-radio-group
                  v-model="item.respuesta"
                  :rules="selectRules"
                  required
                  @change="next(i+1)"
                >
                  <span class="my-4">{{i+1}} - {{item.pregunta}}</span>
                  <v-radio
                    class="radio mb-n2 pt-3 pb-3 pl-5 font-weight-thin"
                    v-for="(opcion, i) in item.options"
                    :key="i"
                    :label="opcion"
                    :value="opcion"
                    color="deep-orange lighten-1"
                  ></v-radio>
                </v-radio-group>
              </div>

              <div v-if="item.tipoPregunta == 'checkbox'" class="mb-12 mt-8" @click="show = 1">
                <span class="my-4">{{i+1}} - {{item.pregunta}}</span>
                <div v-for="(opcion, i) in item.options" :key="i">
                  <v-checkbox
                    class="checkbox mt-3 mb-n3 pl-5 font-weight-thin"
                    v-if="opcion != 'Otras'"
                    :value="opcion"
                    :label="opcion"
                    color="deep-orange lighten-1"
                    v-model="item.respuestas"
                    :rules="checkboxRules"
                    required
                  ></v-checkbox>

                  <v-row v-if="opcion == 'Otras'">
                    <v-checkbox
                      class="mt-3 mb-n3 pl-8 font-weight-thin"
                      :value="opcion"
                      :label="campo ? ' ' :opcion"
                      color="deep-orange lighten-1"
                      v-model="item.respuestas"
                      :rules="checkboxRules"
                      required
                      @change="campo=!campo"
                    ></v-checkbox>
                    <v-text-field :label="opcion" v-if="campo" v-model="item.respuesta"></v-text-field>
                  </v-row>
                </div>

                <br />
                <br />

                <v-btn
                  x-small
                  color="primary"
                  class="boton mb-5"
                  v-if="show"
                  @click="next(i+1)"
                >Próxima pregunta</v-btn>
              </div>

              <div v-if="item.tipoPregunta == 'rating'" class="mb-8 mt-8 pt-10" @click="show = 1">
                <span class="my-4">{{i+1}} - {{item.pregunta}}</span>
                <div class="text-center mt-3">
                  <v-rating
                    v-model="item.respuesta"
                    :rules="raitingRules"
                    required
                    color="deep-orange lighten-1"
                    background-color="deep-orange lighten-1"
                    hover
                  ></v-rating>
                </div>
                <v-btn
                  x-small
                  color="primary"
                  class="boton mb-5"
                  v-if="show"
                  @click="next(i+1)"
                >Próxima pregunta</v-btn>
              </div>

              <div v-if="item.tipoPregunta == 'textarea'" class="mb-8 mt-8" @click="next(i+1)">
                <span class="my-4">{{i+1}} - {{item.pregunta}}</span>
                <v-textarea
                  background-color="grey lighten-5"
                  color="deep-orange lighten-1"
                  
                  v-model="item.respuesta"
                  
                ></v-textarea>
              </div>
              <v-divider></v-divider>
            </v-list-item-content>
          </v-list-item>
          <v-row justify="center" align="center" class="mt-2 mb-3">
            <v-btn x-large color="#FF7043" class="mb-5" @click="validarFormulario">Enviar</v-btn>
          </v-row>
        </v-card>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import Header from "../components/HelloWorld";
import { preguntas } from "@/assets/preguntas.js";
import { scroller } from "vue-scrollto/src/scrollTo";
import { guardarRespuesta } from "@/assets/api.js";
import { Respuesta } from "@/assets/model.js";
import Swal from "sweetalert2";

export default {
  name: "home",
  components: {
    Header
  },
  data() {
    return {
      porcentaje: 0,
      validForm: false,
      preguntasRespuestas: [],
      respuestas: [],
      myJson: [],
      Resp: [],
      Pre: [],
      error: [],
      cant: 0,
      cliente: Buffer.from(this.$route.params.cliente, "base64").toString(
        "binary"
      ),
      codigo: this.$route.params.codigo,
      show: false,
      campo: false,
      posiciones: [
        "UNO",
        "DOS",
        "TRES",
        "CUATRO",
        "CINCO",
        "SEIS",
        "SIETE",
        "OCHO",
        "NUEVE",
        "DIEZ"
      ],
      valor: 0,
      selectRules: [v => !!v || "Este campo es requerido"],
      checkboxRules: [
        v => (v ? v.length > 0 || "Este campo es requerido" : false)
      ],
      raitingRules: [
        v => (v ? v.length > 0 || "Este campo es requerido" : false)
      ]
    };
  },

  mounted() {
    this.preguntasRespuestas = preguntas;
  },

  methods: {
    validarFormulario() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        for (let i = 0; i < this.preguntasRespuestas.length; i++) {
          if (i < 3) {
            this.Resp.push(this.preguntasRespuestas[i].respuesta);
            this.Pre.push(this.preguntasRespuestas[i].id_Pregunta);
          } else if (i === 3) {
            var otra = this.preguntasRespuestas[i].respuesta;
            var pos = this.preguntasRespuestas[i].respuestas.indexOf("Otras");
            if (pos) {
              this.preguntasRespuestas[i].respuestas.splice(pos, 1);
            }
            this.preguntasRespuestas[i].respuestas.push(otra);
            this.Resp.push(this.preguntasRespuestas[i].respuestas.join());
            this.Pre.push(this.preguntasRespuestas[i].id_Pregunta);
          } else if (i > 3) {
            this.Resp.push(this.preguntasRespuestas[i].respuesta);
            this.Pre.push(this.preguntasRespuestas[i].id_Pregunta);
          }
        }
        this.cant = this.Resp.length;
        for (let i = 0; i < this.Resp.length; i++) {
          let respuesta = new Respuesta({
            respuesta: this.Resp[i],
            id_Pregunta: this.Pre[i],
            id_Cliente: this.cliente,
            codigo: this.codigo
          });
          this.guardar(1, respuesta, i, this.cant );
        }
      } else {  
        Swal.fire('Error', 'Existen preguntas por responder', 'error');
      }
    },
    guardar(id_Encuesta, respuesta, i, cant) {
      guardarRespuesta(id_Encuesta, respuesta, i, cant);
    },
    next(id) {
      const scrollito = scroller();
      id + 1;
      this.valor = this.posiciones[id];
      scrollito("#" + this.valor);
      id = id * (100 / preguntas.length);
      this.porcentaje = id;
    },
  }
};
</script>

<style lang="css" scoped>
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
* {
  font-family: Maven pro, sans-serif;
}

form {
  -ms-transform: translateY(4%);
  -webkit-transform: translateY(4%);
  transform: translateY(4%);
}

.v-card {
  width: 80%;
}

.seccion {
  opacity: 0.2;
}

.seccion:hover {
  opacity: 1;
}

span {
  color: #30363e;
  font-size: 18px;
}

.radio:hover,
.checkbox:hover {
  background: #fbe9e7;
}

.boton {
  color: white;
}

</style>