<template>
  <div class="Header">  
    <v-row>
      
      <v-col 
        sm="2"
        md="2"
        lg="2">
        <div>
          <a href="https://www.lucasian.com/">
          <img src="https://www.lucasian.com/wp-content/themes/lucasian/img/lucasian-logo.png" class="ml-3" alt="logo" width="120" height="80">
        </a>
        </div>
      </v-col>  

      <v-col
        sm="8"
        md="8"
        lg="8"
        class="text-center headline deep-orange--text">
        Encuesta de Satisfacción Clientes Lucasian Labs S.A.S   
        <v-row 
          class="col-sm-10 col-md-8 col-lg-5 mx-auto justify-center body-1">
          <span>{{porcentaje}}%</span>
            <v-progress-linear
              v-model="porcentaje"
              color="#FF8A65"
            ></v-progress-linear>   
          
        </v-row>                 
      </v-col>    
        
      <v-col
        sm="2"
        md="2"
        lg="2"
        class="mt-4">
        <a href="https://www.lucasian.com">Salir de la encuesta</a>
      </v-col>
      
    </v-row>

  </div>
  
</template>

<script>

export default {
  name: 'Header',
  props: {
    porcentaje: {
      type: Number,
      default: () => 0
    }
  }
};
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');
* {
    font-family: Maven pro, sans-serif;
}

.Header {
  background: white;
  width: 100%;
  position: fixed;
  z-index: 100;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #F4511E;
    text-decoration: none;
}
</style>
